{% extends "PostItFinder/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {{ home_content }}
    <div class="row">
        <div class="mx-auto">
            <div class="col-4">
                <a id="{{ start_btn.ID}}" href="{% url start_btn.URL %}" role="button" class="btn btn-success btn-lg rounded-circle">
                    <p class="display-4">{{ start_btn.TEXT }}</p>
                </a>
            </div>        
        </div>
    </div>
{% endblock %}
