{% extends "PostItFinder/base-app.html" %}

{% block title %}{{ title }}{% endblock %}

{% block previous_button %}
<!-- don't show the previous button on this page -->
{% endblock%}

{% block image_action_buttons %}
  <button id="{{ choose_img_btn.ID }}" type="button" class="btn btn-outline-success btn-lg">
    {{ choose_img_btn.TEXT }}
  </button>
{% endblock %}

{% block scripts %}
  {{ block.super }}  
  {% load static %}
  <script type="text/javascript" src="{% static 'PostItFinder/js/index.js' %}"></script>
{% endblock %}